@import "tailwindcss";

@theme {
  /* Fuentes personalizadas */
  --font-title: var(--font-bricolage), serif;
  --font-body: var(--font-work-sans), system-ui, sans-serif;
  
  /* Colores personalizados */
  --color-primary-black: #000000;
  --color-primary-white: #FFFFFF;
  --color-primary-cream: #ECE0C8;
  --color-secondary-bronze: #A27852;
  --color-secondary-forest: #014B28;
  --color-secondary-gold: #D09306;
}

:root {
  --font-bricolage: 'Bricolage Grotesque';
  --font-work-sans: 'Work Sans';
}

body {
  background: var(--color-primary-cream);
  color: var(--color-primary-black);
  font-family: var(--font-body);
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Ocultar scrollbar en carrusel móvil */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Parallax effect */
@supports (background-attachment: fixed) {
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
